@import '../../styles/mixins';

.new-title-form {
  input,
  textarea {
    @include inputStyle();
  }
}
.create-btn-form-topic {
  @include buttonStyleElectric();
  font-size: 15px;
  padding: 10px 20px;
}
.cancel-btn-form-topic {
  @include buttonStyleGrey();
  font-size: 15px;
  padding: 10px 20px;
}
.modal-header {
  border-bottom: none;
}
.modal-footer {
  border-top: none;
}
.plius-topic-create {
  display: none;
}
@media only screen and (max-width: 460px) {
  .plius-topic-create {
    display: block;
    font-size: 18px;
    font-weight: 500;
  }
  .text-topic-create {
    display: none;
  }
  .nav-bar-second .btn-topic {
    padding: 5px 12px !important;
  }
}
