@import '../../styles/mixins';

.nav-bar {
  position: absolute;
  top: 0;
  left: 0;
  display: inline-block;
  background-color: white;
  width: 100%;
}
.nav-bar-first {
  -webkit-box-shadow: 5px 7px 40px rgb(69 69 69 / 10%);
  box-shadow: 5px 7px 40px rgb(69 69 69 / 10%);
  padding: 20px 0;
  a {
    margin-right: 20px;
    font-weight: 500;
  }
  .heart-icon {
    font-size: 20px;
    color: #4ebae7;
  }
}
.nav-bar-second {
  display: flex;
  justify-content: space-between;
  -webkit-box-shadow: 5px 7px 40px rgb(69 69 69 / 10%);
  box-shadow: 5px 7px 40px rgb(69 69 69 / 10%);
  padding: 20px 0;
  .logo-box {
    width: 26px;
    margin-right: 18px;
  }
  .btn-topic {
    @include buttonStyleElectric();
    font-size: 14px;
    padding: 10px 20px;
  }
  .nav-btn.close {
    color: #a30505;
    border: none;
    background: none;
    font-size: 24px;
  }
  .notification {
    font-size: 24px;
    color: #b2b2b2;
    cursor: pointer;
    position: relative;
    .dropdown-notification {
      @include topicCard();
      position: absolute;
      top: 34px;
      right: 0;
      z-index: 7;
      background-color: #b2b2b2;
      padding: 10px;
      font-size: 14px;
      color: white;
      width: 300px;
      display: none;

      &.show {
        display: block;
      }

      a {
        color: white;
        text-decoration: none;
        margin-bottom: 10px;

        p {
          border-bottom: 1px solid white;
          padding-bottom: 10px;
        }

        &:last-child p {
          border: none;
          padding-bottom: 0;
        }
      }
    }
  }
  .heart-icon {
    font-size: 24px;
    color: #4ebae7;
  }
  .nav-user-img {
    img {
      border-radius: 50%;
      width: 40px;
      height: 40px;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
  .search-topic {
    input {
      border: none;
      box-shadow: none;
      background-color: #f3f5f9;
      color: #363838;
      font-size: 14px;
      padding: 8px 19px;
      line-height: 1.42857143;
      border-radius: 4px 0 0 4px;
    }
    button {
      border: solid 1px #697683;
      box-shadow: none;
      background-color: #697683;
      color: #ffffff;
      font-size: 18px;
      font-weight: 400;
      text-align: center;
      vertical-align: middle;
      cursor: pointer;
      background-image: none;
      border: 1px solid transparent;
      white-space: nowrap;
      padding: 6px 12px;
      font-size: 14px;
      line-height: 1.42857143;
      border-radius: 0 4px 4px 0;
    }
  }
}

.relative {
  position: relative;
  padding-top: 64px;
  box-sizing: border-box;
}
.bg-upper-box {
  background-repeat: no-repeat;
  background-image: url('../../images/main.png');
  /* background-size: cover; */
  background-position: center top;
  width: 100%;
  height: 120px;
  opacity: 1;
  position: relative;
}
