@import '../../styles/mixins';
@import '../../styles/colors';

.topic-card-container {
  @include topicCard();
  margin-bottom: 20px;
  .topic-heart {
    font-size: 20px;
    cursor: pointer;
  }
  .icons-part {
    flex-direction: column;
  }
  .user-img {
    img {
      width: 60px;
      height: 60px;
      border-radius: 50%;
    }
  }
  a {
    font-size: 17px;
  }
  p {
    font-weight: 400;
    color: $pGrey;
    font-size: 14px;
    margin-top: 14px;
  }
  .comments {
    margin-bottom: 12px;
    .comment-bg {
      background-color: $greyLight;
      border-radius: 2px;
      display: inline-block;
      padding: 12px 17px;
      color: $white;
      font-size: 14px;
      font-family: 'Open Sans Bold', sans-serif;
      position: relative;
    }
    .mark {
      width: 11px;
      height: 11px;
      background-color: $greyLight;
      position: absolute;
      bottom: 0;
      left: 43%;
      margin-bottom: -5px;
      transform: rotate(45deg);
      -ms-transform: rotate(45deg);
      -webkit-transform: rotate(45deg);
    }
  }
  .views {
    color: $messagesBox;
    font-size: 12px;
    font-family: 'Open Sans Regular', sans-serif;
    text-align: center;
    line-height: 29px;
  }
  .time {
    color: $messagesBox;
    font-size: 12px;
    font-family: 'Open Sans Regular', sans-serif;
    text-align: center;
    line-height: 29px;
  }
  .main-part {
    width: 80%;
  }
}
@media only screen and (max-width: 500px) {
  .topic-card-container {
    flex-direction: column;
    .icons-part {
      flex-direction: row;
      & > div {
        margin-right: 20px;
      }
    }
    .main-part {
      flex-direction: column;
    }
    .user-img {
      margin-bottom: 20px;
    }
    .text-side {
      text-align: center;
      margin-bottom: 20px;
    }
  }
  .topic-card-container .main-part {
    width: 100%;
  }
}
