$electric: #1abc9c;
$darkerElectric: #148c74;
$white: #ffffff;
$mainBlue: #4ebae7;
$dangerRed: rgb(109, 3, 3);
$btnRed: #a30505;
$darkerGrey: #697683;
$notificationGrey: #b2b2b2;
$inputDarkGrey: #363838;
$lightWhite: #f3f5f9;
$boxLightGreen: #1abc9b33;
$messagesBox: #9da6aa;
$black: black;
$paginationDarkerGrey: #777777;
$paginationLightGrey: #dddddd;
$teaxtAreaLightGrey: #f1f1f1;
$pGrey: #989c9e;
$greyLight: #bdc3c7;
$inputBorder: #eee;
$darkGrey: #202020;
$btnGreyOne: #b8b8b8;
$btnGreyTwo: #747474;
