@import '../../styles/mixins';
@import '../../styles/colors';

.post-message-block {
  @include topicCard();
  .user-img {
    img {
      width: 60px;
      height: 60px;
      border-radius: 50%;
    }
  }
  .message-area {
    width: 100%;
    textarea {
      width: 100%;
      border: none;
      box-shadow: none;
      background-color: $teaxtAreaLightGrey;
      border-radius: 4px;
      padding: 20px;
      font-size: 14px;
      &:focus,
      &:active {
        outline: none;
      }
    }
    button {
      @include buttonStyleElectric();
      font-size: 16px;
      padding: 10px 20px;
      text-align: right;
    }
  }
}
@media only screen and (max-width: 991px) {
  .post-message-block {
    margin-bottom: 40px;
  }
}
@media only screen and (max-width: 767px) {
  .post-message-block {
    .mobile {
      flex-direction: column;
    }
  }
}
