@import '../../styles/mixins';
@import '../../styles/colors';

.most-popular {
  @include topicCard();
  padding-bottom: 1px;
  h6 {
    margin: 0;
    margin-left: 6px;
  }
  .messages {
    color: $messagesBox;
    font-size: 12px;
    font-family: 'Open Sans Regular', sans-serif;
    text-align: center;
    line-height: 29px;
  }
  p {
    margin: 0;
  }
  .box {
    border-bottom: 1px solid $boxLightGreen;
    &:last-child {
      border-bottom: none;
    }
  }
}
